@import "tailwindcss";

/* 🌈 Global design tokens (CSS variables) */
:root {
  /* 🎨 Color palette */
  --primary: #00d5be;
  --primary-dark: #119576;
  --primary-50: #00bba733;

  --secondary: #ffc107;
  --secondary-dark: #ffbd15;

  --success: #10b981;
  --danger: #ef4444;
  --warning: #f59e0b;
  --info: #0ea5e9;

  --foreground: #90a1b9;
  --dark: #001f3e;
  --dark-50: #2d3c59;
  --black: black;
  --background: #ffffff;

  /* 🖋️ Fonts */
  --font-poppins: var(--font-poppins), sans-serif;
  --font-arial: Arial, sans-serif;
}

/* ⚙️ Tailwind theme bridge */
@theme inline {
  /* 🎨 Colors */
  --color-primary: var(--primary);
  --color-primary-dark: var(--primary-dark);
  --color-primary-50: var(--primary-50);

  --color-secondary: var(--secondary);
  --color-secondary-dark: var(--secondary-dark);

  --color-success: var(--success);
  --color-danger: var(--danger);
  --color-warning: var(--warning);
  --color-info: var(--info);

  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-dark: var(--dark);
  --color-dark-50: var(--dark-50);
  --color-black: var(--black);
}

/* 🌐 Base Styles */
body {
  background-color: var(--background);
  color: var(--color-dark);
  font-family: var(--font-arial);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  margin: 0;
  padding: 0;
  background: #ffc107;
  background: radial-gradient(
    circle,
    rgba(255, 193, 7, 0.39) 45%,
    rgba(255, 193, 7, 0.27) 60%,
    rgba(0, 213, 190, 0.31) 100%
  );
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--font-poppins);
  margin: 0;
}

p {
  font-family: var(--font-arial);
}

button {
  cursor: pointer;
  transition: all 0.2s ease;
}

.hide-scrollbar::-webkit-scrollbar {
  display: none;
}

.hide-scrollbar {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}
